In [1]:
import yfinance as yf

ticker = "NVDA"

nvda = yf.Ticker(ticker)
period=30

data = nvda.history(period=f"{period}d", interval="15m") 

data=data.reset_index()

In [5]:
data['Datetime']= data["Datetime"].dt.tz_convert("Africa/Johannesburg").dt.strftime("%Y-%m-%d %H:%M")

In [6]:
data.to_csv("nvidia_stock_data.csv")

In [7]:
data

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-08-29 15:30,178.110001,178.110001,174.429993,175.080002,35147262,0.0,0.0
1,2025-08-29 15:45,175.089996,175.279999,173.759995,174.779999,19956503,0.0,0.0
2,2025-08-29 16:00,174.789993,175.490005,173.767197,174.629898,14616884,0.0,0.0
3,2025-08-29 16:15,174.600006,175.289993,174.199997,175.065002,11023786,0.0,0.0
4,2025-08-29 16:30,175.059998,175.229996,174.320007,174.330002,8124543,0.0,0.0
...,...,...,...,...,...,...,...,...
773,2025-10-10 20:15,187.630005,188.287399,187.270004,187.720001,3872425,0.0,0.0
774,2025-10-10 20:30,187.720001,187.960007,187.229996,187.240005,2754511,0.0,0.0
775,2025-10-10 20:45,187.250000,187.585007,186.619995,186.990005,4050620,0.0,0.0
776,2025-10-10 21:00,186.960007,187.550003,186.650101,186.759995,5277946,0.0,0.0
777,2025-10-10 21:15,186.755997,187.070007,186.740005,186.929993,580704,0.0,0.0